<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Document</title>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/dashboard">Dashboard</a></li>
          {{#if isLogged}}
            <li><button id="logout">Logout</button></li>
          {{else}}
            <li><a href="/signup">Login</a></li>
          {{/if}}
        </ul>
      </nav>
      <h1>The Tech Blog</h1>
    </header>

    <main>
      <div class="message">
        <p></p>
      </div>
      {{{body}}}
    </main>
    <footer>

    </footer>
    <script src="/js/script.js"></script>
    {{#if isLogged}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>
</html>