<div class="editpost">
    <form id="post-form">
        <input type="text" id="title" placeholder="title" value="{{post.title}}">
        <input type="text" id="id" value="{{post.id}}" hidden>
        <textarea placeholder="content" id="content" cols="30" rows="10">{{post.content}}</textarea>
        <input type="submit">
        
    </form>
</div>

<script src="/js/edit-post.js"></script>