<div class="home-container">
  <div>
    <header>
        <h2>Why MVC is so important</h2>
        <p>Posted by Xandromus on 5/8/2020</p>
    </header>
    <p>MVC allows developers to maintain a true separation of concerns, devising
      their between the Model layer for data, the View layer for design, and the
      Controller layer for application logic.
    </p>
  </div>
</div>