<div class="newpost">
    <form id="post-form" class="forms">
        <h2 class="text-2xl font-bold">Create New Post</h2>
        <input class="mb-2 p-4"type="text" id="title" placeholder="Title">
        <textarea class="p-4" placeholder="Enter post content here" id="content" cols="30" rows="10"></textarea>
        <button class="w-24 py-2 px-6 bg-zinc-950 rounded-2xl text-green-400 mt-4" type="submit">Submit</button>
        
    </form>
</div>

<script src="/js/new-post.js"></script>