<div class="newpost">
    <form id="post-form">
        <input type="text" id="title" placeholder="title">
        <textarea placeholder="content" id="content" cols="30" rows="10"></textarea>
        <input type="submit">
        
    </form>
</div>

<script src="/js/new-post.js"></script>