<div>
  <div>
    <h2>Signup</h2>
    <form id="signup-form">
      <input type="text" id="username" />
      <input type="password" id="password" />
      <button type="submit">Submit</button>
    </form>
  </div>
  <div>
    <h2>Login</h2>
    <form id="login-form">
      <input type="text" id="login-username" />
      <input type="password" id="login-password" />
      <button type="submit">Submit</button>
    </form>
  </div>
</div>




<script src="/js/signup.js"></script>