<div>
  <div>
    <h2 class="text-xl font-bold">Signup</h2>
    <form id="signup-form" class="forms">
      <label for="login-username">Username</label>
      <input class="p-2 rounded-md" placeholder="Enter username here" type="text" id="username" />
      <label for="login-username">Password</label>
      <input class="p-2 rounded-md" placeholder="Enter password here" type="password" id="password" />
      <button class="w-24 py-2 px-7 bg-zinc-950 rounded-2xl text-green-400 mt-4" type="submit">Submit</button>
    </form>
  </div>
  <div>
    <h2 class="text-xl font-bold">Login</h2>
    <form id="login-form" class="forms">
      <label for="login-username">Username</label>
      <input class="p-2 rounded-md" placeholder="Enter username here" type="text" id="login-username" />
       <label for="login-username">Password</label>
      <input class="p-2 rounded-md" placeholder="Enter password here" type="password" id="login-password" />
      <button class="w-24 py-2 px-7 bg-zinc-950 rounded-2xl text-green-400 mt-4" type="submit">Submit</button>
    </form>
  </div>
</div>




<script src="/js/signup.js"></script>