<div class="post-detail">
    {{>blog post}}

    <div class="comments-container">
        <form id="comment-form">
            <input type="text" id="comment">
            <input type="text" id="post" hidden value="{{post.id}}">
            <button type="submit">Submit</button>
        </form>
        {{>comment}}
    </div>
</div>